/*place global styles here */
html, body { 
    @apply h-full overflow-hidden; 
}

:root {
    --header-height: 5.5rem;
}

body:not(body > *), 
.footer,
.app-bar, 
h1, 
h2, 
h3, 
a, 
p, 
span, 
label {
    @apply text-token transition-colors;
}

.page {
    @apply p-4 container mx-auto min-h-[calc(100vh-var(--header-height))];
}