/*place global styles here */
html, body { 
    @apply h-full overflow-hidden; 
}

:root {
    --header-height: 5rem;
}

.page {
    @apply px-8 mb-12 container mx-auto min-h-[calc(100vh-var(--header-height))];
}