---
interface Props {
	title?: string;
	description?: string;
	tags?: string[];
	image?: string | undefined;
}

function pathnameToTitle(pathname: string) {
	return pathname
		.split("/")
		.filter(Boolean)
		.at(-1)
		?.replace(/-/g, " ")
		.replace(/\b\w/g, (char) => char.toUpperCase());
}

const { title = pathnameToTitle(Astro.url.pathname), description, tags, image } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		{description && <meta name="description" content={description} />}
		{tags && <meta name="keywords" content={tags.join(", ")} />}
		{image && <meta property="og:image" content={image} />}
	</head>

	<body class="bg-stone-50 dark:bg-stone-950 text-stone-950 dark:text-stone-50">
		<header
			class="sticky top-0 h-20 flex items-center justify-center bg-stone-100 dark:bg-stone-900"
		>
			<nav class="px-1 max-w-7xl flex gap-2 items-center flex-1 font-semibold">
				<a class="p-3 text-lg" href="/">Hugo Korte</a>
				<a class="p-3 ml-auto" href="/blog">Blog</a>
				<a class="p-3" href="/work">Work</a>
			</nav>
		</header>
		<main class="px-4 py-16 max-w-7xl mx-auto min-h-[calc(100dvh-5rem)]">
			<slot />
		</main>
		<footer class="px-4 py-16 max-w-7xl mx-auto">
			<p class="text-center text-sm">
				© 2023-{new Date().getFullYear()} Hugo Korte. All rights reserved.
			</p>
		</footer>
	</body>
</html>
