---
import "@fontsource/geist-mono";

interface Props {
	title: string;
	description?: string;
	tags?: string[];
}

const { title, description, tags } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		{description && <meta name="description" content={description} />}
		{tags && <meta name="keywords" content={tags.join(", ")} />}
	</head>
	<body class="bg-stone-50 dark:bg-stone-950 text-stone-950 dark:text-stone-50">
		<slot />
	</body>
	<style>
		body {
			font-family: "Geist Mono", monospace;
		}
	</style>
</html>
